body
		{
			background-color: white;
			
		}
		input[type="text"],input[type="number"]
		{
			width: 300px;
			height: 30px;
		}
		#formCenter
		{
			background-color: white;
			box-shadow: 0px 0px 40px  rgba(0, 0, 0, 0.4);
			font-family: sans-serif;
			color:black;
			height:450px;
			width: 350px;
			display: flex;
			padding-top: 10px;
			position: absolute;
			top:50px;
			left: 150px;
			border-radius: 10px;
		}
		form
		{
			padding-left: 20px;
		}
		label
		{
			font-weight: bold;
		}
		button
		{
			position: relative;
			height: 30px;
			width:100%;
			background-color: ;
		}
		#gen label
		{
			font-weight: 100;
		}
		img
		{
			height: 70%;
			margin-left: 600px;
			margin-top: 80px;

		}